body{
	background-image:url("http://www.template-joomspirit.com/template-joomla/template-107/images/background/light-blue-NR.jpg");
}
h1{
	color : #FF6600;
}
h2{
	color : #9900FF;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width:50%;
}
li{
	
	float:left;
	border-right:1px solid white;
	border-left:1px solid white
}  
li a{
	display:block;
	color:white;
	text-align:center;
	padding:10px 12px;
	text-decoration:none; 
}
